
div.social-link-render {

    &::before {
        content: "";
        display: block;
        height: 3px;
        width: 10%;
        min-width: 48px;
        border-radius: 3px;
        margin: 0 auto;
        background-color: #f8f8ff;
    }

    text-align: center;

     > .links {
        display: flex;
        gap: 6px;
        justify-content: center;
        > a {

            &::after {
                content: none;
                display: none;
            }

            [data-icon] {
                color: #f8f8ff;
                height: 1.75rem;
                width: 1.75rem;
            }

        }
    }
}